<table>
  <tr>
    <th>Option</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>List files</td>
    <td><a href="/files">/files</a></td>
  </tr>
    <tr>
    <td>List explorers</td>
    <td><a href="/list">/list</a></td>
  </tr>
    </tr>
    <tr>
    <td>List explorers from 2016</td>
    <td><a href="/list?year=2016">/list?year=2016</a></td>
  </tr>
    </tr>
    </tr>
    <tr>
    <td>List explorers from 2016 that are M4000s</td>
    <td><a href="/list?year=2016&model=M4000">/list?year=2016&model=M4000</a></td>
  </tr>
</table>