<html>
  <head>
    <title>Parsec Webserver Usage Information</title>
  </head>
  <body>
    <a href="/help">HELP</a>
    <a href="/list">LIST</a>
    <p>
    <table border="1">
      <tr>
        <th>Example Options (Actual Explorer Repository)</th>
        <th>URL</th>
      </tr>
      <tr>
        <td>List explorers</td>
        <td><a href="/list">/list</a></td>
      </tr>
      <tr>
        <td>List explorers from 2016</td>
        <td><a href="/list?year=2016">/list?year=2016</a></td>
      </tr>
      <tr>
        <td>List explorers from 2016 that are M4000s</td>
        <td><a href="/list?year=2016&model=M4000">/list?year=2016&model=M4000</a></td>
      </tr>
      <tr>
        <th>Example Reports (Using Sample Explorer)</th>
        <th>URL</th>
      </tr>
      <tr>
        <td>CPU report</td>
        <td><a href="/report?example=true&server=sol11u03vm01&report=cpu">/report?example=true&server=sol11u03vm01&report=cpu</a></td>
      </tr>
    </table>
  </body>
</html>